

<div class="form-horizontal" style="margin-top:50px;">
<%= form_for @user do |f| %>

    <div class="form-group">
        <%= f.label :name, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :last_name, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.text_field :last_name, autofocus: true, class: 'form-control'  %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :Contacto, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.text_field :contacto, autofocus: true, class: 'form-control'  %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label :approved, "Aprobado", class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.radio_button :approved, true %> <%= f.label :approved, "Si" %>
            <%= f.radio_button :approved, false %> <%= f.label :approved, "No" %>
        </div>
    </div>
        
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <%= f.submit "Actualizar", class: "btn btn-primary" %>
        </div>
    </div>
    
<% end %>    
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <%= button_to "Borrar Este Usuario", user_path(@user), data: { confirm: "Estás seguro de borrar #{@user.name}?" }, method: :delete, class: 'btn btn-danger btn-md' %>
        </div>
</div>
    
    
</div>

<style>
    footer{
        bottom:0;
    }
</style>