
<!-- COMIENZO DE HEADER -->
<nav id="navbar" class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag("logo.png", alt: " "), root_path,  class: "wow pulse animated" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <% if current_user %>    
                    <% if current_user.role==1 %>
                        <li>    
                            <a id="menu-toggle" href="#" style="margin-right: 30px;">Panel Administrador</a>
                                
                                <nav id="sidebar-wrapper">
        
                                    <ul class="sidebar-nav">
                                        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                                
                                        <li class="sidebar-brand">
                                            <a href="#top"  onclick = $("#menu-close").click(); >Administrador</a>
                                        </li>
                                        <li>
                                            <a href="#top" onclick = $("#menu-close").click(); >Home</a>
                                        </li>
                                        <li>
                                            <%= link_to 'Crear Noticia', new_notice_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Ver Todos Los Usuarios', users_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Ver Usuarios Inhabilitados', users_path(approved:'false') %>
                                        </li>
                                        <li>
                                            <%= link_to 'Agregar eventos', principal_index_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Editar Perfil' ,edit_user_registration_path %>
                                        </li>
                                    </ul>
                                </nav>
                                
                        </li>
                    <% else %>
                        <li>
                            <a id="menu-toggle" href="#" style="margin-right: 30px;">Panel Estudiante</a>
                                
                            <nav id="sidebar-wrapper">
    
                                <ul class="sidebar-nav">
                                    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                            
                                    <li class="sidebar-brand">
                                        <a href="#top" >Estudiante</a>
                                    </li>
                                    <li>
                                        <a href="/" >Home</a>
                                    </li>
                                    <li>
                                        <%= link_to 'Ver Noticia', notices_path %>
                                    </li>
                                    <li>
                                        <%= link_to 'Ver Eventos', 'principal/index' %>
                                    </li>
                                    <li>
                                        <%= link_to 'Editar Perfil' ,edit_user_registration_path %>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                    <%end%>
                    
                <%end %>
                
                
                <li>
                    <a href="/acercade">Tecn&oacute;logo</a>
                </li>
                <li>
                    <a href="/contacts">Contacto</a>
                </li>
                
                
                <% if current_user %>
                    
                    
                    
                    <%#= link_to 'Editar Perfil' , edit_user_registration_path %>
                    
                    
                    <li>
                        <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
                    </li>
                    
                    <li class="round-image-50">
                        <%= image_tag(current_user.avatar.url(:thumb)) %>
                    </li>

                <% else %>
                    <li>
                        <a href="#myModalIn" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Entrar</a>
                    </li>
                    <li>
                        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                            <a href="#myModalSignUp" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span> Registrar</a>
                        <% end -%>
                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav> <!--Fin de HEADER-->


   
    <!-- Modal HTML Cierre de sesion-->
      <div id="myModalOut" class="modal fade">

          <div class="modal-dialog">

              <div class="modal-content">

                  <div class="modal-header">

                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                      <h4 class="modal-title">Confirmacion</h4>

                  </div>

                  <div class="modal-body">

                      <p>Est&aacute; seguro que desea Cerrar sesi&oacute;n?</p>

                  </div>

                  <div class="modal-footer">

                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                      <input type="submit" value="Log out" id="logoutUP" name="logoutUP" class="form-control btn btn-danger">

                  </div>

              </div>

          </div>

      </div>
    <!--Fin de modal de cierre de sesion-->
    
    <!--Modal de Inicio de Sesion-->
    <div id="myModalIn" class="modal fade">
    
      <div class="modal-dialog">
    
          <div class="modal-content">
    
              <div class="modal-header">
    
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
                  <h4 class="modal-title">Iniciar Sesi&oacute;n</h4>
    
              </div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                
                <div class="modal-body">
                
                <div id="divalerta" class="alert" role="alert"></div>
                  
                <!--Prepended text-->
                <div class="form-group">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="input-group" id="input-EmailI">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                      <%= f.email_field :email, autofocus: true , required:"", placeholder:'E-mail', type:'email' ,class: "form-control",id:"emailI", onblur:"validarEmailI()" %>
                    </div>
                  </div>
                </div>
                
                <!--Prepended text-->
                <div class="form-group">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="input-group" id="input-PassI">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                          <%= f.password_field :password, autocomplete: "off", required:"", placeholder:'Contraseña' ,class: "form-control", id:"passI" %>
                    </div>
                  </div>
                </div>
                    
                    <% if devise_mapping.rememberable? -%>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="input-group">
                                    <%= f.check_box :remember_me %>
                                    <%= f.label :remember_me, "Recúerdame" %>
                                </div>
                            </div>
                        </div>
                      <% end -%>
               
                    </div>
    
              <div class="modal-footer">
    
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    
                  <%= f.submit "Ingresar", class: 'btn btn-primary', id:"iniciar" %>
    
              </div>
            <% end %>
          </div>
    
      </div>
    
    </div>
    <!--fin del modal de inicio de sesion -->
    
    <!-- Modal de registro -->
    <div id="myModalSignUp" class="modal fade">

          <div class="modal-dialog">

              <div class="modal-content">

                  <div class="modal-header">
                      
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      
                      <button type="button" class="close" data-toggle="tooltip" data-placement="left" title="La contraseña y la confirmación deben tener mínimo 8 caracteres." data-original-title="" style="margin-right:2%;"><i class="fa fa-info-circle"></i></button>

                      <h4 class="modal-title">Registro de Usuario</h4>

                  </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                  
                
                    <div class="modal-body">
                    <div id="divalerta" class="alert" role="alert"></div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                                <div class="input-group" id="input-Nombre">
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <%= f.text_field :name, required:"", id:"nombre", placeholder:"Nombre", class: "form-control",autofocus: true, onblur:"validarNombre()" %>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                      
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                                <div class="input-group" id="input-Apellido">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <%= f.text_field :last_name, required:"", id:"apellido", placeholder:"Apellido", class: "form-control",autofocus: true,  onblur:"validarApellido()" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                                <div class="input-group" id="input-Contacto">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                                    <%= f.text_field :contacto, id:"contacto", required:"", placeholder:"Numero de Contacto", class: "form-control", autofocus: true,  onblur:"validarContacto()" %>
                                    </div>
                            </div>
                        </div>
                    </div>
                      
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                                <div class="input-group" id="input-Email">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                    <%= f.email_field :email, id:"email", required:"", placeholder:"E-mail", class: "form-control", autofocus: true,  onblur:"validarEmail()" %>
                                    </div>
                            </div>
                        </div>
                    </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2"> 
                                <div class="input-group" id="input-Pass">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <%= f.password_field :password, required:"", id:"pass" , placeholder:"Contraseña",autocomplete: "off", class: "form-control" %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2"> 
                                <div class="input-group" id="input-Retrypass">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <%= f.password_field :password_confirmation,  id:"retrypass" ,required:"", placeholder:"Confirmar Contraseña", autocomplete: "off", class: "form-control" %>
                                </div>
                            </div>
                        </div>
                    </div>

                  </div>

                    <div class="modal-footer">
    
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            
                        <%= f.submit "Registrar", id:"registrar", class: "btn btn-primary" %>
                    </div>
                  <% end %>

              </div>

          </div>

      </div>
      
      <script>
          
      </script>
      <script type="text/javascript">
            
            function validarNombre(){
                var regex =  /^[a-zA-Z_áéíóúñ\s]*$/ ;
                var cadena= ($('#nombre').val());
                if ( cadena.length > 0 && (regex.test(cadena.trim())) ) {
                    $("#input-Nombre").removeClass("has-error");
                    $("#input-Nombre").addClass("has-success");
                    return true;
                }
                else {
                    $("#input-Nombre").removeClass("has-success");
                    $("#input-Nombre").addClass("has-error");
                    return;
                }
            }
            
            function validarApellido(){
                var regex =  /^[a-zA-Z_áéíóúñ\s]*$/ ;
                var cadena= $('#apellido').val()
                
                if (cadena.length > 0 && (regex.test(cadena.trim())) )  {
                    $("#input-Apellido").removeClass("has-error");
                    $("#input-Apellido").addClass("has-success");
                    return true;
                }
                else {
                    $("#input-Apellido").removeClass("has-success");
                    $("#input-Apellido").addClass("has-error");
                    return false;
                }
            }
            
            function validarContacto(){
                var regex = /^[0|4|][0-9]{8}$/;
                var cadena= $('#contacto').val();
                if ( cadena.length > 0 && (regex.test(cadena.trim())) ) {
                    $("#input-Contacto").removeClass("has-error");
                    $("#input-Contacto").addClass("has-success");
                    return true;
                }
                else {
                    $("#input-Contacto").removeClass("has-success");
                    $("#input-Contacto").addClass("has-error");
                    return false;
                }
            }
            
            function validarEmail() {
                var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                var cadena= $('#email').val();
 
                if (cadena.length > 0 && (regex.test(cadena.trim())) ) {
                    $("#input-Email").removeClass("has-error");
                    $("#input-Email").addClass("has-success");
                    return true;
                }
                else {
                    $("#input-Email").removeClass("has-success");
                    $("#input-Email").addClass("has-error");
                    return false;
                }
            }
            function validarPass(){
                var pass =         $('#pass').val();
                var retrypass =    $('#retrypass').val();
                
                if(pass.length == 0 && pass.length <8){
                    $("#input-Pass").removeClass("has-success");
                    $("#input-Pass").addClass("has-error");
                    console.log("la primera es vacia o tiene menos de 8");
                    return false;
                }
                
                if(retrypass.length == 0 && retrypass.length <8){
                    $("#input-Retryass").removeClass("has-success");
                    $("#input-Retrypass").addClass("has-error");
                    console.log("la confirmacion es vacia o tiene menos de 8");
                    return false;
                }
                if(pass != retrypass){
                    $("#input-Pass").removeClass("has-success");
                    $("#input-Pass").addClass("has-error");
                    $("#input-Retryass").removeClass("has-success");
                    $("#input-Retrypass").addClass("has-error");
                    console.log("las pass son diferentes");
                    return false;
                }else{
                    $("#input-Pass").removeClass("has-error");
                    $("#input-Pass").addClass("has-success");
                    $("#input-Retrypass").removeClass("has-error");
                    $("#input-Retrypass").addClass("has-success");
                    return true;
                }
            }
            function validarEmailI() {
                var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                var cadena= $('#emailI').val();
 
                if (cadena.length > 0 && (regex.test(cadena.trim())) ) {
                    $("#input-EmailI").removeClass("has-error");
                    $("#input-EmailI").addClass("has-success");
                    
                    return true;
                }
                else {
                    $("#input-EmailI").removeClass("has-success");
                    $("#input-EmailI").addClass("has-error");
                    
                    return false;
                }
            }
            
        $(document).ready(function(){

            function mostrarAlerta(msg){
                $("#divalerta").append(msg);
                $("#divalerta").show();
                $("html, body").animate({ scrollTop: 0 }, "fast");
                $("#divalerta").fadeTo(1000, 500).slideUp(5000, function(){
                    $(this).hide();
                    $(this).empty();
                    $("#divalerta").hasClass("alert-success")
                });
            }

            $("#registrar").click(function(e){
                
                if(!validarNombre()){
                    $("#divalerta").addClass("alert-danger");
                    $("#divalerta").removeClass("alert-success");
                    var j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Formato de Nombre incorrecto</p>");
                    $("#input-Nombre").focus().hasClass("has-error");
                    mostrarAlerta(j);   
                    return false;             
                }
                
                if(!validarApellido()){
                    $("#divalerta").addClass("alert-danger");
                    $("#divalerta").removeClass("alert-success");
                    var j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Formato de Apellido incorrecto</p>");
                    $("#input-Apellido").focus().hasClass("has-erro");
                    mostrarAlerta(j);   
                    return false;             
                }
                
                
                if(!validarContacto()){
                    $("#divalerta").addClass("alert-danger");
                    $("#divalerta").removeClass("alert-success");
                    var j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Formato de Contacto incorrecto</p>");
                    $("#input-Contacto").focus().hasClass("has-error");
                    mostrarAlerta(j);   
                    return false;             
                }
                
                
                if(!validarEmail()){
                    $("#divalerta").addClass("alert-danger");
                    $("#divalerta").removeClass("alert-success");
                    var j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Formato de Email incorrecto PAPA</p>");
                    $("#input-Email").focus().hasClass("has-error");
                    mostrarAlerta(j);   
                    
                    return false;             
                }
                $("#input-Email").focus().hasClass("has-success");
                
                if(!validarPass()){
                    var j;
                    console.log("validar pass es falso");
                    $("#divalerta").addClass("alert-danger");
                    $("#divalerta").removeClass("alert-success");
                        if($("#pass").val().length<8){
                            $("#input-Pass").removeClass("has-success");
                            $("#input-Pass").addClass("has-error");
                            j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Minimo 8 caracteres</p>");
                            
                        }else{
                            $("#input-Pass").removeClass("has-success");
                            $("#input-Pass").addClass("has-error");
                            $("#input-Retrypass").removeClass("has-success");
                            $("#input-Retrypass").addClass("has-error");
                            j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Las contraseñas no concuerdan</p>");        
                        }    
                    
                    $("#input-Pass").focus().hasClass("has-error");
                    $("#input-Repass").focus().hasClass("has-error");
                    mostrarAlerta(j);                
                    return false;
                }
                
                
            });
            /*validaciones del inicio de sesion*/
            $("#iniciar").click(function(e){
               
               if(!validarEmailI()){
                    $("#divalerta").addClass("alert-danger");
                    $("#divalerta").removeClass("alert-success");
                    
                    var j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Formato de Email incorrecto PAPA</p>");
                    $("#input-EmailI").focus().hasClass("has-error");
                    mostrarAlerta(j);   
                    
                    return false;   
                }
                if($("#passI").val().length <8){
                    $("#divalerta").addClass("alert-danger");
                    $("#divalerta").removeClass("alert-success");
                    
                    $("#input-PassI").removeClass("has-success");
                    $("#input-PassI").addClass("has-error");
                    var j = $("<p id=\"alerta\"><span class=\"glyphicon glyphicon-exclamation-sign\"></span>Minimo 8 caracteres para password</p>");
                    $("#input-PassI").focus().hasClass("has-error");
                    mostrarAlerta(j);  
                    return false;
               }
            });
        });

    </script>
    
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    
    </script>
    
    <script>
        var cbpAnimatedHeader = (function() {

        	var docElem = document.documentElement,
        		header = document.querySelector( '.navbar-default' ),
        		didScroll = false,
        		changeHeaderOn = 100;
        
        	function init() {
        		window.addEventListener( 'scroll', function( event ) {
        			if( !didScroll ) {
        				didScroll = true;
        				setTimeout( scrollPage, 50 );
        			}
        		}, false );
        	}
        
        	function scrollPage() {
        		var sy = scrollY();
        		if ( sy >= changeHeaderOn ) {
        		    if(header == null)
        		        console.log("agrega navbar-shrink siendo nulo");
        		     else
        		         console.log("agrega navbar-shrink ");
        			classie.add( header, 'navbar-shrink' );
        		}
        		else {
        		    if(header == null)
        		        console.log("remueve navbar-shrink siendo nulo");
        		    else
        		        console.log("remueve navbar-shrink")
        			classie.remove( header, 'navbar-shrink' );
        		}
        		didScroll = false;
        	}
        
        	function scrollY() {
        		return window.pageYOffset || docElem.scrollTop;
        	}
        
        	init();
        
        })();
    </script>